SimpleFileClipper.ConsoleApp/bin/
SimpleFileClipper.ConsoleApp/obj/
SimpleFileClipper.Lib/bin/
SimpleFileClipper.Lib/obj/
SimpleFileClipper.WPFApp/bin/
SimpleFileClipper.WPFApp/obj/
*.log
mydatabase.db